/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                                          Mixins                                                                                      */
/* ----------------------------------------------------------------------------------------------------------------- */

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

@mixin min-screen($res) {
  @media screen and (min-width: $res) {
    @content;
  }
}


$maxWidth: 1280;

@mixin adaptive-font($maxSize, $minSize) {
  $addSize: $maxSize - $minSize;
  font-size: calc(#{$minSize + px} + #{$addSize} * ((100vw) / #{$maxWidth}));
}

@mixin adaptive-font-min($maxSize, $minSize) {
  $addSize: $maxSize - $minSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                                          Fonts                                                                                        */
/* ----------------------------------------------------------------------------------------------------------------- */

@font-face {
  font-family: "Gothic A1";
  src: url("../fonts/GothicA1-Regular.eot");
  src: url("../fonts/GothicA1-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/GothicA1-Regular.woff2") format("woff2"),
  url("../fonts/GothicA1-Regular.woff") format("woff"),
  url("../fonts/GothicA1-Regular.ttf") format("truetype"),
  url("../fonts/GothicA1-Regular.svg#GothicA1-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gothic A1";
  src: url("../fonts/GothicA1-SemiBold.eot");
  src: url("../fonts/GothicA1-SemiBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/GothicA1-SemiBold.woff2") format("woff2"),
  url("../fonts/GothicA1-SemiBold.woff") format("woff"),
  url("../fonts/GothicA1-SemiBold.ttf") format("truetype"),
  url("../fonts/GothicA1-SemiBold.svg#GothicA1-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Roboto-Regular.woff2") format("woff2"),
  url("../fonts/Roboto-Regular.woff") format("woff"),
  url("../fonts/Roboto-Regular.ttf") format("truetype"),
  url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Roboto-Light.woff2") format("woff2"),
  url("../fonts/Roboto-Light.woff") format("woff"),
  url("../fonts/Roboto-Light.ttf") format("truetype"),
  url("../fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Roboto-Medium.woff2") format("woff2"),
  url("../fonts/Roboto-Medium.woff") format("woff"),
  url("../fonts/Roboto-Medium.ttf") format("truetype"),
  url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
  url("../fonts/Montserrat-SemiBold.woff") format("woff"),
  url("../fonts/Montserrat-SemiBold.ttf") format("truetype"),
  url("../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                                            Main banner                                                                          */
/* ----------------------------------------------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;

  .navbar {
    margin: auto;
    width: 100%;

    .container-fluid {
      max-width: 1200px;
    }

    h5 {
      color: white;
    }
  }

  .logo {
    max-width: 132px;

    img {
      display: block;
      width: 100%;
    }
  }

  .header_item {
    padding: 0 10px;

    @include max-screen(992px) {
      padding: 0;
    }


    ul {
      display: flex;
      list-style: none;
      margin: 0;

      @include max-screen(992px) {
        flex-direction: column;
      }

      li {
        padding: 10px;

        @include max-screen(992px) {
          padding: 5px
        }

        a {
          &:hover {
            color: #56BCE8;
            text-decoration: underline;
          }
        }

        a,
        span {
          color: white;
          text-decoration: none;
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;

          @include max-screen(428px) {
            font-size: 24px;
          }
        }
      }
    }

    &:last-of-type {
      a {
        text-decoration: underline;
      }
    }
  }

  .offcanvas {
    background: grey;

    @include max-screen(992px) {
      --bs-offcanvas-width: 250px;
    }

    @include max-screen(428px) {
      --bs-offcanvas-width: 428px;
    }

    .offcanvas-header {
      border-bottom: 1px #686666 solid;
    }

    .offcanvas-body {
      @include max-screen(992px) {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
    }
  }
}

main {
  //----------------------------------------------------------------------------------------------------------------------------------------//
  // Main banner
  // --------------------------------------------------------------------------------------------------------------------------------------//

  .main_banner {
    display: flex;
    flex-direction: column;
    background-image: url(../images/main_banner_background.jpg);
    background-size: cover;
    padding-bottom: 34px;

    h1 {
      font-family: 'Gothic A1', sans-serif;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
      color: #FFFFFF;
      text-shadow: 0px 0px 166px #000000;
      margin-top: 160px;
      margin-bottom: 30px;
      @include adaptive-font(56, 28);

      @include max-screen(767px) {
        @include adaptive-font-min(56, 28)
      }
    }

    .main_banner_item {
      display: flex;
      align-items: center;
      padding: 35px 33px;
      background: #FFFFFF;
      opacity: 0.9;
      border-radius: 20px;
      margin-bottom: 100px;

      @include max-screen(414px) {
        padding: 20px 20px;
      }

      .img-fluid {
        margin-right: 28px;
        padding: 8px 0;
      }

      p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        color: #000000;
        max-width: 374px;
        margin: 0;

        @include adaptive-font(20, 16);

        @include max-screen(767px) {
          @include adaptive-font-min(20, 16)
        }
      }

    }

    @include max-screen(414px) {
      margin-bottom: 65px;
    }
  }
}

.btn, .btn-primary {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  max-width: 260px;
  padding: 20px 48px;
  background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
  box-shadow: 0 0 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border-color: #5c5e5e;

  &:hover {
    border-color: #3e3c3c;
  }

  @include max-screen(414px) {
    display: flex;
    justify-content: center;
    margin: auto;
  }
}


//----------------------------------------------------------------------------------------------------------------------------------------//
// About us
// ---------------------------------------------------------------------------------------------------------------------------------------//

.about_us {
  background: url(../images/about_us_background.svg) no-repeat;
  background-size: contain;
  padding-top: 260px;
  padding-bottom: 156px;

  @include max-screen(992px) {
    padding-top: 160px;
    padding-bottom: 75px;
  }

  @include max-screen(414px) {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include max-screen(992px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  article {
    max-width: 385px;
    margin-right: 80px;

    @include max-screen(992px) {
      order: 2;
      max-width: 770px;
      margin: 0;
    }

    h3 {
      font-family: 'Gothic A1', sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      margin-bottom: 60px;
      @include adaptive-font(24, 20);

      @include max-screen(992px) {
        margin-bottom: 30px;
      }

      @include max-screen(767px) {
        @include adaptive-font-min(24, 20)
      }
    }

    p {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 300;
      line-height: 150%;
      @include adaptive-font(20, 16);

      @include max-screen(767px) {
        @include adaptive-font-min(20, 16)
      }

      strong {
        font-family: Manrope, sans-serif;
        font-weight: 600;
      }
    }
  }

  .img-fluid {
    position: absolute;
    right: 0;

    img {
      width: 100%;
    }

    @include max-screen(1200px) {
      position: relative;
    }

    @include max-screen(992px) {
      order: 1;
      margin-bottom: 30px;
    }
  }
}

//----------------------------------------------------------------------------------------------------------------------------------------//
// Why us
// ---------------------------------------------------------------------------------------------------------------------------------------//


.why_us {
  background-image: url(../images/why_us_background.png);
  background-size: cover;
  padding: 60px 0;

  .wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @include max-screen(1200px) {
      justify-content: space-evenly;
    }
  }


  h3 {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    margin-left: 95px;
    margin-bottom: 70px;

    @include max-screen(575px) {
      margin-left: 0;
      text-align: center;
    }
  }

  article {
    padding: 50px 30px;
    background-color: white;
    border-radius: 20px;
    margin: 10px;

    @include min-screen(1200px) {
      max-width: 255px;
    }

    .img-fluid {
      max-width: 62px;
      margin: auto;

      img {
        display: block;
        width: 100%
      }
    }

    h4 {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #373737;
      margin-top: 50px;
    }

    p {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      color: #373737;
      margin: 0
    }
  }
}

.portfolio {
  padding: 283px 0 177px 0;
  background-image: url(../images/portfolio_background.svg);
  background-size: contain;
  background-repeat: no-repeat;

  @include max-screen(992px) {
    padding: 263px 0 157px 0;
  }

  @include max-screen(768px) {
    padding: 243px 0 137px 0;
  }

  @include max-screen(576px) {
    padding: 223px 0 117px 0;
  }

  @include max-screen(414px) {
    padding: 203px 0 97px 0;
  }

  @include max-screen(320px) {
    padding: 183px 0 77px 0;
  }

  h3 {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #373737;
    margin-left: 95px;
    margin-bottom: 50px;

    @include max-screen(548px) {
      margin-left: 40px;
    }

    @include max-screen(414px) {
      margin-left: 20px;
    }

    @include max-screen(320px) {
      margin-left: 0
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    article {
      max-width: 540px;
      margin-bottom: 80px;

      .img-fluid {
        margin-bottom: 20px;
        border-radius: 20px;
      }

      h4 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #373737;
        margin-bottom: 10px;
      }

      p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        color: #373737;
        margin: 0;
      }
    }
  }

  .btn, .btn-primary {
    display: flex;
    margin: auto;
    font-weight: 300;
    border-color: #f5f5f5;

    &:hover {
      border-color: #3e3c3c;
    }
  }

  .owl-carousel .owl-nav {
    position: absolute;
    top: -80px;
    right: 115px;

    @include max-screen(548px) {
      right: 65px;
    }

    @include max-screen(414px) {
      right: 25px;
    }

    @include max-screen(320px) {
      right: 10px;
    }
  }

  .owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .owl-carousel .owl-nav button.owl-prev {
    margin-right: 15px;

    &:before {
      content: "";
      display: inline-block;
      background-image: url(../images/portfolio_arrow-prev.svg);
      background-size: cover;
      height: 24px;
      width: 24px;
    }
  }

  .owl-carousel .owl-nav button.owl-next {
    margin-left: 15px;

    &:before {
      content: "";
      display: inline-block;
      background-image: url(../images/portfolio_arrow-next.svg);
      background-size: cover;
      height: 24px;
      width: 24px;
    }
  }
}

.questions {
  background-image: url(../images/questions_background.jpg);
  background-size: cover;
  padding: 60px 0;

  .question_title, .question_body {
    padding: 30px;
    background-color: white;
    border-radius: 20px;
  }

  .question_title {
    margin-bottom: 10px;

    h3 {
      font-family: 'Gothic A1', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 130%;
      max-width: 790px;
      margin: 0
    }
  }


  .question_body {

    h4 {
      display: flex;
      justify-content: space-between;
      font-family: 'Gothic A1', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 130%;
      margin-bottom: 20px;
    }

    .question_item {
      background: #4C6071;
      border-radius: 30px;
      padding: 30px 30px 30px 30px;

      display: flex;
      justify-content: space-between;

      .wrapper {
        width: 100%;
        margin-right: 30px;
      }

      .question_option {
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 20px;
        box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
        border-radius: 10px;

        &:not(:last-of-type) {
          margin-bottom: 10px;
        }

        input[type="radio"] {
          -ms-transform: scale(1.5);
          transform: scale(1.5);
        }

        input[type="text"] {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 150%;
          border: none;
          outline: none;
          border-bottom: 1px solid black;
          padding: 5px;
        }

        .text_option {
          width: 80%;
        }

        .text_option_2 {
          width: 100%;
        }

        .tg-icon, .vb-icon, .em-icon {
          display: flex;
          align-items: center;

          &:before {
            content: "";
            display: inline-block;
            background-size: cover;
            height: 24px;
            width: 24px;
          }
        }

        .tg-icon {
          &:before {
            background-image: url(../images/questions_telegram.svg);
            margin-right: 5px;
          }
        }

        .vb-icon {
          &:before {
            background-image: url(../images/questions_viber.svg);
            margin-right: 10px;
          }
        }

        .em-icon {
          &:before {
            background-image: url(../images/questions_email.svg);
            margin-right: 10px;
          }
        }

        label {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 150%;
          max-width: 250px;
        }
      }


      .img-fluid {
        border-radius: 20px;
        overflow: hidden;
        margin-bottom: 10px;

        img {
          display: inherit;
          width: fit-content;
        }
      }

      .btn_wrapper {
        height: 70px;
      }
    }

    .questions_result {
      position: absolute;
      top: 180px;
      right: 80px;

      h3, p {
        font-family: 'Gothic A1', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 39px;
        line-height: 130%;
        text-align: center;
        color: white;
      }
    }
  }

  .owl-nav {
    position: absolute;
    bottom: 60px;
    right: 45px;
    max-width: 610px;
    width: 100%;
  }

  .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    padding: 20px 48px !important;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 0 0 166px rgb(0 0 0 / 20%), 8px 8px 109px rgb(0 0 0 / 5%);
    border-radius: 10px;
    border-color: #5c5e5e;
    color: white;
    max-width: 290px;
    width: 100%;
  }

  .owl-carousel .owl-nav button.owl-prev.disabled, .owl-carousel .owl-nav button.owl-next.disabled {
    background: #8F8F8F;
  }

  .owl-carousel .owl-nav button.owl-prev {
    position: relative;
    right: 15px;
  }

  .owl-carousel .owl-nav button.owl-next {
    position: relative;
    left: 15px;
  }
}

.catalog {
  padding: 30px 0 155px 0;

  @include max-screen(992px) {
    padding: 30px 0 125px 0;
  }

  @include max-screen(768px) {
    padding: 30px 0 95px 0;
  }

  @include max-screen(576px) {
    padding: 30px 0 65px 0;
  }

  .bkg {
    margin-bottom:225px;

    @include max-screen(992px) {
      margin-bottom:195px;
    }

    @include max-screen(768px) {
      margin-bottom:175px;
    }

    @include max-screen(576px) {
      margin-bottom:155px;
    }

    @include max-screen(414px) {
      margin-bottom:135px;
    }

    @include max-screen(320px) {
      margin-bottom:115px;
    }
  }

  .img-fluid {
    img {
        width: 100%;
    }
  }

  h3 {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 52px;
    margin-left: 95px;

    @include max-screen(768px) {
      margin-left: 45px;
    }
  }

  .row {
    &:first-of-type {
      margin-bottom: 40px;

      @include max-screen(576px) {
     justify-content: center;
      }

    }

    &:last-of-type {
      margin-bottom: 70px;

      @include max-screen(576px) {
        display: none;
      }
    }

    h5 {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #373737;
    }

    .catalog_img {
      margin-bottom: 20px;

      img {
        width: 100%;
      }
    }
  }

  .btn, .btn-primary {
    display: flex;
    margin: auto;
    font-weight: 300;
    max-width: 265px;
    border-color: white;

    &:hover {
      border-color: #3e3c3c;
    }
  }
}
