/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                                          Mixins                                                                                      */
/* ----------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                                          Fonts                                                                                        */
/* ----------------------------------------------------------------------------------------------------------------- */
@font-face {
  font-family: "Gothic A1";
  src: url("../fonts/GothicA1-Regular.eot");
  src: url("../fonts/GothicA1-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothicA1-Regular.woff2") format("woff2"), url("../fonts/GothicA1-Regular.woff") format("woff"), url("../fonts/GothicA1-Regular.ttf") format("truetype"), url("../fonts/GothicA1-Regular.svg#GothicA1-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gothic A1";
  src: url("../fonts/GothicA1-SemiBold.eot");
  src: url("../fonts/GothicA1-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothicA1-SemiBold.woff2") format("woff2"), url("../fonts/GothicA1-SemiBold.woff") format("woff"), url("../fonts/GothicA1-SemiBold.ttf") format("truetype"), url("../fonts/GothicA1-SemiBold.svg#GothicA1-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                                            Main banner                                                                          */
/* ----------------------------------------------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
}
header .navbar {
  margin: auto;
  width: 100%;
}
header .navbar .container-fluid {
  max-width: 1200px;
}
header .navbar h5 {
  color: white;
}
header .logo {
  max-width: 132px;
}
header .logo img {
  display: block;
  width: 100%;
}
header .header_item {
  padding: 0 10px;
}
@media screen and (max-width: 992px) {
  header .header_item {
    padding: 0;
  }
}
header .header_item ul {
  display: flex;
  list-style: none;
  margin: 0;
}
@media screen and (max-width: 992px) {
  header .header_item ul {
    flex-direction: column;
  }
}
header .header_item ul li {
  padding: 10px;
}
@media screen and (max-width: 992px) {
  header .header_item ul li {
    padding: 5px;
  }
}
header .header_item ul li a:hover {
  color: #56BCE8;
  text-decoration: underline;
}
header .header_item ul li a,
header .header_item ul li span {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
@media screen and (max-width: 428px) {
  header .header_item ul li a,
  header .header_item ul li span {
    font-size: 24px;
  }
}
header .header_item:last-of-type a {
  text-decoration: underline;
}
header .offcanvas {
  background: grey;
}
@media screen and (max-width: 992px) {
  header .offcanvas {
    --bs-offcanvas-width: 250px;
  }
}
@media screen and (max-width: 428px) {
  header .offcanvas {
    --bs-offcanvas-width: 428px;
  }
}
header .offcanvas .offcanvas-header {
  border-bottom: 1px #686666 solid;
}
@media screen and (max-width: 992px) {
  header .offcanvas .offcanvas-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

main .main_banner {
  display: flex;
  flex-direction: column;
  background-image: url(../images/main_banner_background.jpg);
  background-size: cover;
  padding-bottom: 34px;
}
main .main_banner h1 {
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  color: #FFFFFF;
  text-shadow: 0px 0px 166px #000000;
  margin-top: 160px;
  margin-bottom: 30px;
  font-size: calc(28px + 28 * ((100vw) / 1280));
}
@media screen and (max-width: 767px) {
  main .main_banner h1 {
    font-size: calc(28px + 28 * ((100vw - 320px) / 960));
  }
}
main .main_banner .main_banner_item {
  display: flex;
  align-items: center;
  padding: 35px 33px;
  background: #FFFFFF;
  opacity: 0.9;
  border-radius: 20px;
  margin-bottom: 100px;
}
@media screen and (max-width: 414px) {
  main .main_banner .main_banner_item {
    padding: 20px 20px;
  }
}
main .main_banner .main_banner_item .img-fluid {
  margin-right: 28px;
  padding: 8px 0;
}
main .main_banner .main_banner_item p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #000000;
  max-width: 374px;
  margin: 0;
  font-size: calc(16px + 4 * ((100vw) / 1280));
}
@media screen and (max-width: 767px) {
  main .main_banner .main_banner_item p {
    font-size: calc(16px + 4 * ((100vw - 320px) / 960));
  }
}
@media screen and (max-width: 414px) {
  main .main_banner {
    margin-bottom: 65px;
  }
}

.btn, .btn-primary {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  max-width: 260px;
  padding: 20px 48px;
  background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
  box-shadow: 0 0 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border-color: #5c5e5e;
}
.btn:hover, .btn-primary:hover {
  border-color: #3e3c3c;
}
@media screen and (max-width: 414px) {
  .btn, .btn-primary {
    display: flex;
    justify-content: center;
    margin: auto;
  }
}

.about_us {
  background: url(../images/about_us_background.svg) no-repeat;
  background-size: contain;
  padding-top: 260px;
  padding-bottom: 156px;
}
@media screen and (max-width: 992px) {
  .about_us {
    padding-top: 160px;
    padding-bottom: 75px;
  }
}
@media screen and (max-width: 414px) {
  .about_us {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}
.about_us .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .about_us .container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.about_us article {
  max-width: 385px;
  margin-right: 80px;
}
@media screen and (max-width: 992px) {
  .about_us article {
    order: 2;
    max-width: 770px;
    margin: 0;
  }
}
.about_us article h3 {
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 60px;
  font-size: calc(20px + 4 * ((100vw) / 1280));
}
@media screen and (max-width: 992px) {
  .about_us article h3 {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .about_us article h3 {
    font-size: calc(20px + 4 * ((100vw - 320px) / 960));
  }
}
.about_us article p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  font-size: calc(16px + 4 * ((100vw) / 1280));
}
@media screen and (max-width: 767px) {
  .about_us article p {
    font-size: calc(16px + 4 * ((100vw - 320px) / 960));
  }
}
.about_us article p strong {
  font-family: Manrope, sans-serif;
  font-weight: 600;
}
.about_us .img-fluid {
  position: absolute;
  right: 0;
}
.about_us .img-fluid img {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .about_us .img-fluid {
    position: relative;
  }
}
@media screen and (max-width: 992px) {
  .about_us .img-fluid {
    order: 1;
    margin-bottom: 30px;
  }
}

.why_us {
  background-image: url(../images/why_us_background.png);
  background-size: cover;
  padding: 60px 0;
}
.why_us .wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media screen and (max-width: 1200px) {
  .why_us .wrapper {
    justify-content: space-evenly;
  }
}
.why_us h3 {
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #FFFFFF;
  margin-left: 95px;
  margin-bottom: 70px;
}
@media screen and (max-width: 575px) {
  .why_us h3 {
    margin-left: 0;
    text-align: center;
  }
}
.why_us article {
  padding: 50px 30px;
  background-color: white;
  border-radius: 20px;
  margin: 10px;
}
@media screen and (min-width: 1200px) {
  .why_us article {
    max-width: 255px;
  }
}
.why_us article .img-fluid {
  max-width: 62px;
  margin: auto;
}
.why_us article .img-fluid img {
  display: block;
  width: 100%;
}
.why_us article h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #373737;
  margin-top: 50px;
}
.why_us article p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #373737;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
